In [3]:
# Import necessary libraries
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
from time import sleep
import os
import numpy as np
from sklearn.metrics import classification_report

from amb_sdk.sdk import DarwinSdk

In [6]:
# Login
from login import username, password
ds = DarwinSdk()
ds.set_url('https://amb-demo-api.sparkcognition.com/v1/')
status, msg = ds.auth_login_user(username, password)

if not status:
    print(msg)
else:
    print('You are logged in!')

You are logged in!

In [7]:
dataset_name = 'district.csv'
df = pd.read_csv(dataset_name)
df.head()

,DISTNAME,DISTRICT,DZCNTYNM,REGION,DZRATING,DZCAMPUS,DPETALLC,DPETBLAP,DPETHISP,DPETWHIP,...,DPFPAVOCP,DPFPAGIFP,DPFPAATHP,DPFPAHSAP,DPFPREKP,DPFPAOTHP,DISTSIZE,COMMTYPE,PROPWLTH,TAXRATE
0,CAYUGA ISD,1902,001 ANDERSON,7,Met Standard,3,576,4.7,7.3,83.2,...,3.6,0.2,4.3,0.8,0,0,500 to 999,Rural,"$450,288 to < $512,741",Under $1.1659
1,ELKHART ISD,1903,001 ANDERSON,7,Met Standard,4,1267,5.3,10.8,79.8,...,5.6,0.1,5,1.1,0,0,"1,000 to 1,599",Non-metropolitan Stable,"$226,182 to < $235,915",$1.2781 to under $1.3998
2,FRANKSTON ISD,1904,001 ANDERSON,7,Met Standard,3,846,9.0,9.7,76.6,...,7.1,0.2,6.8,1.3,2.3,0.4,500 to 999,Rural,"$297,485 to < $318,066",$1.3998 and over
3,NECHES ISD,1906,001 ANDERSON,7,Met Standard,2,377,7.4,13.5,75.9,...,4.9,0.5,0,1.1,1.8,0,Under 500,Rural,"$297,485 to < $318,066",$1.2781 to under $1.3998
4,PALESTINE ISD,1907,001 ANDERSON,7,Met Standard,6,3453,27.5,40.0,28.2,...,6.8,0.2,6,0.6,2.1,1.5,"3,000 to 4,999",Independent Town,"$276,039 to < $297,485",$1.3998 and over

In [11]:
df = df['DISTNAME','DISTRICT']
df.head()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices